html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width:  100%;
    min-height: 100%;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: adreenaScript;
    src: url("fonts/AdreenaScript-Demo.ttf");
}

body {
    background-color: #fbf2f7;
    /* background-image:     url("./fundo_.jpg"); */
}

main {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.container {
    width: 90%;
}

.container-flex {
    width: 90%;
    display: flex;
    gap: 5rem;
    justify-content: space-around;
}

/* Navegação */
.navbar {
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
.nav-title,
.nav-item {
    display: inline-block;
}

.nav-title {
    font-family: adreenaScript;
}

.nav-list {
    display: inline-flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-item.active {
    font-weight: 600;
}

section#first-section {
    display: flex;
    justify-content: center;
}
section#second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: rgba(30, 30, 30, 0.03);
}

.container-foto {
    display: flex;
    width: 80%;
    align-items: center;
    /* margin-top: 3rem; */
    gap: 3rem;
}

.container-foto img {
    width: 40%;
    margin-right: 20px;
}

.img {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.texto-base {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    -webkit-text-stroke: 0.5px white;
    line-height: 18px;
}

#second-section p {
    padding: 1rem;
}

#wrap {
    width: 600px;
    height: 390px;
    padding: 0;
    overflow: hidden;
}
#frame {
    width: 800px;
    height: 520px;
    border: 1px solid black;
}
#frame {
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

.form-label {
    display: block;
}

.side {
    width: 40%;
    padding: 4rem 0;
}

.side-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: white;
    border: 1px solid #ccc !important;
    border-radius: 16px;
}
.card-body {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.form-input {
    border: 1px solid #aaa !important;
    border-radius: 5px;
}

textarea {
    resize: none;
}

.button {
    display: inline-block;
    margin: 0;
    padding: 0.2rem 0.5rem;
    border: 0;
    border-radius: 0.317rem;
    background-color: #aaa;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

.button:hover {
    opacity: 0.85;
}

.button:active {
    box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
    outline: thin dotted #444;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.button-primary {
    background-color: #1fa3ec;
}

.videos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
}

video {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text-muted {
    color: #6c757d;
    font-weight: lighter;
}

footer {
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    text-align: center;
    padding: 20px;
}
